td, th {
	text-align: center;
}

.table thead th {
	border-bottom: none;
}

p.copy {
	font-size: 13px; 
}

h2 {
	font-family: Righteous;
}

.jam {
	font-size: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 700;
}

.datenow {
	font-weight: bold;
	background-color: #cae9b8;
}

